.issue-detail-frame {
    background-image: url("../../images/detail-background.jpg");
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-top: 115px;
    width: 700px;
    height: 978px;
}

.issue-detail-labels {
    position: absolute;
    top: 130px;
    right: 150px;
}

.issue-detail {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 450px;
    height: 610px;
}

.issue-detail-user-avatar {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    margin-left: 5px;
}

.issue-detail-label {
    margin-right: 5px;
}